---
http_interactions:
- request:
    method: get
    uri: http://api.boffin-dev.io:3000/v1/customers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=141d246d5e0774eaab3482259516dae9
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - v1
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a81d3321ce01aa68b3fbb332e3622605"'
    body:
      encoding: UTF-8
      string: '{"object":"list","url":"/v1/customers","count":11,"data":[{"object":"customer","id":"900","ref_id":"900","description":null,"email":"tim@teachmatic.com","subscriptions":{"object":"list","url":"/v1/customers/900/subscriptions","data":[]}},{"object":"customer","id":"901","ref_id":"901","description":null,"email":"user_901@example.com","subscriptions":{"object":"list","url":"/v1/customers/901/subscriptions","data":[]}},{"object":"customer","id":"902","ref_id":"902","description":null,"email":"user_902@example.com","subscriptions":{"object":"list","url":"/v1/customers/902/subscriptions","data":[]}},{"object":"customer","id":"903","ref_id":"903","description":null,"[...]
