---
http_interactions:
- request:
    method: post
    uri: http://api.boffin-dev.io:3000/v1/customers
    body:
      encoding: US-ASCII
      string: ref_id=test1234&description=Tim%20Williams&email=tim%40example.com
    headers:
      Authorization:
      - Token token=141d246d5e0774eaab3482259516dae9
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - v1
  response:
    status:
      code: 201
      message: 'Created '
    headers:
      Location:
      - http://api.boffin-dev.io:3000/v1/customers/5679
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"6244553f4534538268f711c45950f29e"'
    body:
      encoding: UTF-8
      string: '{"id":5679,"description":"Tim Williams","email":"tim@example.com","ref_id":"test1234","created_at":"2014-10-24T15:51:26.002Z","updated_at":"2014-10-24T15:51:26.002Z","product_id":4}'
  recorded_at: Fri, 24 Oct 2014 15:51:26 GMT
recorded_with: VCR 2.9.3
