---
http_interactions:
- request:
    method: post
    uri: http://api.boffin-dev.io:3000/v1/customers/1398/subscriptions
    body:
      encoding: US-ASCII
      string: plan=foo&metadata[provider]=heroku&start=2014-01-01%2000%3A00%3A00%20%2B0000
    headers:
      Authorization:
      - Token token=141d246d5e0774eaab3482259516dae9
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - v1
  response:
    status:
      code: 201
      message: 'Created '
    headers:
      Location:
      - http://api.boffin-dev.io:3000/v1/customers/1398/subscriptions/7066
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4272e7f380bbdbaff2ebc14a016f06f0"'
    body:
      encoding: UTF-8
      string: '{"object":"subscription","start":"2014-01-01T00:00:00.000Z","canceled_at":null,"metadata":{"provider":"heroku"},"plan":{"object":"plan","slug":"foo","amount":0,"currency":"usd"},"customer":{"ref_id":"1398"}}'
  recorded_at: Fri, 24 Oct 2014 18:08:55 GMT
recorded_with: VCR 2.9.3
