---
http_interactions:
- request:
    method: get
    uri: http://api.boffin-dev.io:3000/v1/customers/1398/subscriptions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=141d246d5e0774eaab3482259516dae9
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - v1
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"84895ca1ba655182fc1dc8207f557011"'
    body:
      encoding: UTF-8
      string: '[{"object":"subscription","start":"2014-10-24T21:55:06.000Z","canceled_at":null,"id":"sub_3f8fab0de092d9","metadata":{"provider":"heroku"},"plan":{"object":"plan","slug":"test","amount":0,"currency":"usd"},"customer":"1398"}]'
  recorded_at: Sun, 26 Oct 2014 13:01:09 GMT
recorded_with: VCR 2.9.3
