---
http_interactions:
- request:
    method: get
    uri: http://api.boffin-dev.io:3000/v1/customers/1398
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=141d246d5e0774eaab3482259516dae9
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - v1
      Error:
      - uninitialized constant BoffinIO::JSON (NameError)
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"df4fb9f0de6858747cf963c78b81de41"'
    body:
      encoding: UTF-8
      string: '{"object":"customer","id":"1398","ref_id":"1398","description":"Tim
        Williams","email":"static-app9554@kensa.heroku.com","subscriptions":{"object":"list","url":"/v1/customers/1398/subscriptions","data":[{"object":"subscription","start":"2014-10-24T21:55:06.000Z","canceled_at":null,"id":null,"metadata":{"provider":"heroku"},"plan":{"object":"plan","slug":"test","amount":0,"currency":"usd"},"customer":{"ref_id":"1398","description":"Tim
        Williams"}}]}}'
  recorded_at: Sun, 26 Oct 2014 12:33:16 GMT
recorded_with: VCR 2.9.3
