---
http_interactions:
- request:
    method: put
    uri: http://api.boffin-dev.io:3000/v1/customers/1398/subscriptions/sub_3f8fab0de092d9
    body:
      encoding: US-ASCII
      string: metadata[country]=gb&metadata[provider]=
    headers:
      Authorization:
      - Token token=141d246d5e0774eaab3482259516dae9
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - v1
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"e8ae9cccc06d84871b066625e04ad58b"'
    body:
      encoding: UTF-8
      string: '{"object":"subscription","start":"2014-10-24T21:55:06.000Z","canceled_at":null,"id":"sub_3f8fab0de092d9","metadata":{"country":"gb","provider":""},"plan":{"object":"plan","slug":"test","amount":0,"currency":"usd"},"customer":"1398"}'
  recorded_at: Sun, 26 Oct 2014 13:06:31 GMT
recorded_with: VCR 2.9.3
