---
http_interactions:
- request:
    method: post
    uri: http://api.boffin-dev.io:3000/v1/customers/1398/subscriptions
    body:
      encoding: US-ASCII
      string: plan=test&metadata[provider]=heroku
    headers:
      Authorization:
      - Token token=141d246d5e0774eaab3482259516dae9
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - v1
  response:
    status:
      code: 201
      message: 'Created '
    headers:
      Location:
      - http://api.boffin-dev.io:3000/v1/customers/1398/subscriptions/7068
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"acada593a27e7932dc7630d35972dd4f"'
    body:
      encoding: UTF-8
      string: '{"object":"subscription","start":"2014-10-24T21:55:06.296Z","canceled_at":null,"metadata":{"provider":"heroku"},"plan":{"object":"plan","slug":"test","amount":0,"currency":"usd"},"customer":{"ref_id":"1398"}}'
  recorded_at: Fri, 24 Oct 2014 21:55:06 GMT
recorded_with: VCR 2.9.3
