---
http_interactions:
- request:
    method: put
    uri: http://api.boffin-dev.io:3000/v1/customers/1398
    body:
      encoding: US-ASCII
      string: email=timwilliams%40example.com
    headers:
      Authorization:
      - Token token=141d246d5e0774eaab3482259516dae9
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - v1
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"04d81bf84237c0967796e03fca19c4da"'
    body:
      encoding: UTF-8
      string: '{"id":5677,"description":"Tim Williams","email":"timwilliams@example.com","ref_id":"1398","created_at":"2014-10-23T10:32:23.000Z","updated_at":"2014-10-27T13:13:41.881Z","product_id":4}'
  recorded_at: Mon, 27 Oct 2014 13:13:41 GMT
recorded_with: VCR 2.9.3
